<table class="summary-table">
	{{#data}}
	<thead>
		<tr>
			<th class="section-name {{ status }}">
				<h2>
					{{^locked}}
					<a href="">
					{{#number}}<span class="section-number">{{ number }}.</span>{{/number}}{{ name }}
					</a>
					{{/locked}}
					{{#locked}}
					{{#number}}<span class="section-number">{{ number }}.</span>{{/number}}{{ name }}
					{{/locked}}
				</h2>
			</th>
			<th class="section-status">
				{{#statusMessage }}
				<span class="status {{ status }}">{{ statusMessage }}</span>
				{{/statusMessage }}
			</th>
		</tr>
	</thead>
	{{^isOverview}}
	<tbody>
		{{#questions}}
		<tr>
			<td class="question">
				{{ name }}
			</td>
			<td class="answer">
				{{{ value }}}
			</td>
			<td class="edit-link">
				{{#editable}}
				<a href="">
					Edit
				</a>
				{{/editable}}
			</td>
		</tr>
		{{/questions}}
	</tbody>
	{{/isOverview}}
   	{{/data}}
</table>