<table class="summary-table">
	{{#sections}}
	<thead>
		<tr>
			<th class="section-name {{ status }}">
				<h2>
					{{^locked}}
					<a href="section-{{ number }}/">
					{{#number}}<span class="section-number">{{ number }}.</span>{{/number}}{{ name }}
					</a>
					{{/locked}}
					{{#locked}}
					{{#number}}<span class="section-number">{{ number }}.</span>{{/number}}{{ name }}
					{{/locked}}
				</h2>
			</th>
			<th class="section-status">
				{{#statusMessage }}
				<span class="status {{ status }}">{{ statusMessage }}</span>
				{{/statusMessage }}
			</th>
		</tr>
	</thead>
   	{{/sections}}
</table>