{{<layout}}

{{$pageTitle}}Summary page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   		{{#service.path}}
	   			Section {{service.path}}
	   		{{/service.path}}
	   		{{^service.path}}
	   			{{ name }}
	   		{{/service.path}}
	   		</span>
	   		Check your answers
	   	</h1>


	   	<p>Please check all the information you have provided below.</p>

 
		<div class="summary">
			<table class="summary-table">

			{{#subsections}}
				{{>includes/2-level-check-table}}
	   		{{/subsections}}

	   		{{^subsections}}
				{{>includes/1-level-check-table}}
	   		{{/subsections}}

			</table>
		</div>

		{{^lastItem}}
			<div class="form-group">
	   			<a href="../{{ next }}/1/question-page" class="button">These details are correct</a>
   			</div>
		{{/lastItem}}

   		{{#lastItem}}
			<div class="form-group">
   				<a href="../summary-page" class="button">Check your answers</a>
   			</div>
		{{/lastItem}}



	  </div>
	  <div class="column-quarter">

	   	<ul class="actions">
	   		{{# service.actions }}
	   		<li class="action"><a href="">{{ action }} this {{ service.type }}</a></li>
	   		{{/ service.actions }}
	   	</ul>

	   	<div class="meta-data">
	   		{{# service.meta }}
	   		<p class="last-edited font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ service.meta }}
	   	</div>

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

