{{<layout}}

{{$pageTitle}}Summary page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="../{{ prev }}/question-page" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   		{{#service.path}}
	   			Section {{service.path}}
	   		{{/service.path}}
	   		{{^service.path}}
	   			{{ name }}
	   		{{/service.path}}
	   		</span>
	   		Check your answers
	   	</h1>


	   	<p>Please check all the information you have provided below.</p>

 
		<div class="summary">
			<table class="summary-table">

			{{#subsections}}
				{{>includes/2-level-check-table}}
	   		{{/subsections}}

	   		{{^subsections}}
				{{>includes/1-level-check-table}}
	   		{{/subsections}}

			</table>
		</div>




		{{#lastItem}}

		<h2 class="heading-medium">Now submit your {{ service.type }}</h2>

		<p>By submitting this {{ service.type }} you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

		<div class="form-group">
   			<a href="confirm-page" class="button">I understand</a>
		</div>

		{{/lastItem}}

		{{#lastItem2}}

		<h2 class="heading-medium">Now submit your {{ service.type }}</h2>

		<p>By submitting this {{ service.type }} you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

		<div class="form-group">
   			<a href="confirm-page" class="button">I understand</a>
		</div>

		{{/lastItem2}}

		{{^lastItem}}
		{{^lastItem2}}
			<div class="form-group">
	   			<a href="../{{ next }}/1/question-page" class="button">Next section</a>
			</div>
		{{/lastItem2}}
		{{/lastItem}}



	  </div>
	  <div class="column-quarter">

	   	<ul class="actions">
	   		{{# service.actions }}
	   		<li class="action"><a href="">{{ action }} this {{ service.type }}</a></li>
	   		{{/ service.actions }}
	   	</ul>

	   	<div class="meta-data">
	   		{{# service.meta }}
	   		<p class="last-edited font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ service.meta }}
	   	</div>

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

