{{<layout}}

{{$pageTitle}}Confirmation page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	  	<div class="confirmation-message">
	  		<h1 class="heading-xlarge">Thank you</h1>
	   		<p class="lede">Your {{ service.type }} has been received and is being processed</p>
        </div>

        <h2 class="heading-medium">What happens next</h2>

	  </div>
	  <div class="column-quarter">

	 

	  </div>
	</div>

</main>

{{/content}}

{{/layout}}

