{{<layout}}

{{$pageTitle}}Confirmation page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	  	<div class="confirmation-message">
	  		<h1 class="heading-xlarge">Thank you</h1>
	   		<p class="lede">Your {{ service.type }} has been received and is being processed</p>
        </div>


        <p class="intro email">We have sent you a confirmation email.</p>


        <h2 class="heading-medium">What happens next</h2>

      	<p class="placeholder-box">
      		[ Next steps goes here ]
      	</p>

	  </div>
	  <div class="column-quarter">
 
	   	<ul class="actions">
	   		<li class="action"><a href="">Print this {{ service.type }}</a></li>
	   	</ul>

	   	<div class="meta-data">
	   		{{# service.meta }}
	   		<p class="last-edited font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ service.meta }}
	   	</div>
	 

	  </div>
	</div>

</main>

{{/content}}

{{/layout}}

