{{<layout}}

{{$pageTitle}}Summary page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

<!--
	  		<div class="grid-row question-nav">
	  			<div class="column-half">
	  		<a href="../{{ prev }}/question-page" class="link-back" title="Back to previous question">Back</a>
	  			</div>
	  			<div class="column-half">
	  		<a href="../{{ prev }}/question-page" class="link-skip" title="Skip this question for now">Skip</a>
	  			</div>
	  		</div>
	  	-->

	  		<a href="../{{ prev }}/question-page" class="link-back" title="Back to previous question">Back</a>


	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			Question {{service.section}}
	   			<!--{{ parentSection }}-->
	   		</span>
	   		{{#question}}
	   			{{ question }}
	   		{{/question}}
	   		{{^question}}
	   			{{ name }}
	   		{{/question}}
	   	</h1>


		<form class="form">

		{{#sections}}

		   	<div class="form-group">
		   		<p class="placeholder-box">{{ name }}</p>
		   	</div>

	   	{{/sections}}

	   	{{^sections}}

		   	<div class="form-group">
		   		<p class="placeholder-box">{{ name }}</p>
		   	</div>

	   	{{/sections}}


	   	{{^lastItem}}
   			{{#change}}
			<div class="form-group">
	   			<a href="../check-page" class="button">Save and return</a>
   			</div>
   			{{/change}}
   			{{^change}}
			<div class="form-group">
	   			<a href="../{{ next }}/question-page" class="button">Save and continue</a>
   			</div>
   			{{/change}}
		{{/lastItem}}

   		{{#lastItem}}
			<div class="form-group">
   				<a href="../check-page" class="button">Check your answers</a>
   			</div>
		{{/lastItem}}

<!--
   			<p><a href="../../summary-page">Back to summary</a></p>
   		-->

	   	</form>



	  </div>
	  <div class="column-quarter">

<!--
	  	<div class="question-nav">
	  		<a href="">Sign out</a>
	  	</div>
	  -->

	   	<ul class="actions">
	   		{{# service.actions }}
	   		<li class="action"><a href="">{{ action }} this {{ service.type }}</a></li>
	   		{{/ service.actions }}
	   	</ul>

	   	<div class="meta-data">
	   		{{# service.meta }}
	   		<p class="last-edited font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ service.meta }}
	   	</div>

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

