{{<layout}}

{{$pageTitle}}Check your answers{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	   	<h1 class="heading-large">Check your answers</h1>


	   	<p>Please check all the information you have provided below.</p>


		<div class="summary">
			{{>includes/table-check}}
		</div>

		<div class="form-group">
		   	<a href="" class="button">These details are correct</a>
		</div>



	  </div>
	  <div class="column-quarter">

	   	<ul class="actions">
	   		{{# actions }}
	   		<li class="action"><a href="">{{ action }} this {{ noun }}</a></li>
	   		{{/ actions }}
	   	</ul>

	   	<div class="meta-data">
	   		{{# meta }}
	   		<p class="last-edited font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ meta }}
	   	</div>

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

