{{<layout}}

{{$pageTitle}}Summary page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	   	<h1 class="heading-large">{{ verb }} your {{ noun }}</h1>


	   	<p>Complete all {{ parts }} parts of your {{ noun }} below. You can complete them in any order.</p>


 
		<div class="summary overview">
			{{>includes/table-overview}}
		</div>


	  </div>
	  <div class="column-quarter">

	   	<ul class="actions">
	   		{{# actions }}
	   		<li class="action"><a href="">{{ action }} this {{ noun }}</a></li>
	   		{{/ actions }}
	   	</ul>

	   	<div class="meta-data">
	   		{{# meta }}
	   		<p class="last-edited font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ meta }}
	   	</div>

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

