{{<layout}}

{{$pageTitle}}Start page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			Service
	   		</span>
	   		{{ name }}
	   	</h1>

	   	<p>{{ description }}</p>

	   	<p><a href="{{ startUrl }}" class="button button-get-started">Get started</a></p>

	  </div>
	  <div class="column-quarter">

	 

	  </div>
	</div>

</main>

{{/content}}

{{/layout}}

