{{<layout}}

{{$pageTitle}}Start page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-two-thirds">

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			Service
	   		</span>
	   		{{ name }}
	   	</h1>

	{{#description }}
	   	<p>{{ description }}</p>
	{{/description }}
	{{^description }}
	   	<p class="placeholder-box">[ Description of service goes here ]</p>
	{{/description }}

	   	<p><a href="{{ startUrl }}" class="button button-get-started">Get started</a></p>

	  </div>
	  <div class="column-third">

	 

	  </div>
	</div>

</main>

{{/content}}

{{/layout}}

