{{<layout}}

{{$pageTitle}}Summary page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="{{$backLink}}{{/backLink}}" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			{{$pageSubTitle}}{{/pageSubTitle}}
	   		</span>
			{{$pageTitle}}{{/pageTitle}}
	   	</h1>


		<form class="form">

			{{$pageContent}}{{/pageContent}}

			<div class="form-group">
   				<a href="" class="button">Save and continue</a>
   			</div>

	   	</form>



	  </div>
	  <div class="column-quarter">

	   	<ul class="actions">
	   		{{# service.actions }}
	   		<li class="action"><a href="">{{ action }} this {{ service.type }}</a></li>
	   		{{/ service.actions }}
	   	</ul>

	   	<div class="meta-data">
	   		{{# service.meta }}
	   		<p class="font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ service.meta }}
	   	</div>

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

