// SHAME



// Not all links should have a visited colour
.no-visited-style{
    &:visited{
    color: $link-colour;
  }
}


// Not all links should be underlined
.no-underline{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
}

