@import '../elements';

// 'Check your answers' table
//

.table-check-answers{
  margin: 0 0 $gutter 0;

  th{
    padding-top: 45px;
  }

  td{
    vertical-align: top;
    //@include core-19();
    strong{
      @include bold-16;
    }
  }

  .section-number{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
  }
  .section-name{
    width: 33.33%;
    h2{
      @include bold-24();
    }
  }
  .edit-link {
    width: 2%;
    padding-right: 0;
    text-align: right;
    a{
      @include bold-19();
      margin-right: 0;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
      @extend .no-visited-style;    
    }
  }

  .question{
    width: 33.33%;
  }

  .answer{
    padding-left: 10px;
    .tab{
      display: block;
      width: 33.33%;
      float: left;
    }
  }
}