{{<layout}}

{{$pageTitle}}Summary page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	   	<h1 class="heading-large">{{ section.number }}. {{ section.name }}</h1>

		<div class="summary overview">

			<table class="summary-table">
	   			{{# section.subsections }}
				<thead>
					<tr>
						<th class="section-name {{ status }}">
							<h2>
								{{^locked}}
								<a href="">
								{{#number}}<span class="section-number">{{ number }}.</span>{{/number}}{{ name }}
								</a>
								{{/locked}}
								{{#locked}}
								{{#number}}<span class="section-number">{{ number }}.</span>{{/number}}{{ name }}
								{{/locked}}
							</h2>
						</th>
						<th class="section-status">
							{{#statusMessage }}
							<span class="status {{ status }}">{{ statusMessage }}</span>
							{{/statusMessage }}
						</th>
					</tr>
				</thead>
	   	{{/ section.subsections }}
			</table>

		</div>




	  </div>
	  <div class="column-quarter">

	  

		</div>
	</div>

</main>

{{/content}}

{{/layout}}

