{{<layout}}

{{$pageTitle}}Confirmation page{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
	  <div class="column-three-quarters">

	  	<div class="confirmation-message">
	  		<h1 class="heading-xlarge">Thank you</h1>
	   		<p class="lede">Your {{ service.type }} has been received and is being processed</p>
        </div>


        <p class="intro email">We have sent you a confirmation email. xxx</p>


        <h2 class="heading-medium">What happens next</h2>

        <p>Your Insolvency Practitioner will give us more details about your claim to help us calculate the amount you’re owed. We aim to pay you within 3 to 6 weeks.</p>

    	<h2 class="heading-small">Making a claim for loss of notice</h2>
    	
    	<p>Based on the dates you’ve given, your statutory notice period is from 01 March 2015 to 30 April 2015.</p>
    	
    	<p>You’ll receive a letter or email asking you to complete your claim after 30 April 2015. The letter or email may take up to 6 weeks to arrive.</p>	
    	
    	<p class="panel-indent">If you don’t claim for Jobseeker's Allowance your payment for loss of notice will be affected.</p>

    	<h2 class="heading-medium">What you can do next</h2>

		<ul class="list-bullet">
			<li>Get advice on <a href="https://www.gov.uk/jobsearch">finding a new job</a></li>
			<li>Apply for <a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a></li> 
			<li>Ask for your Rapid Response Service at your local Jobcentre Plus. They should tell you more about training opportunities.</li>
		</ul>

		<p>
			Email: <a href="mailto:redundancypaymentsonline@insolvency.gsi.gov.uk">
			redundancypaymentsonline@insolvency.gsi.gov.uk</a> <br>

			Website: <a href="https://www.gov.uk/your-rights-if-your-employer-is-insolvent">Your rights if your employer is insolvent</a>

			<br>Telephone: 0330 331 0020 (select 
			option 2) <br>Opening hours are 9am to 5pm, Monday to Friday 
		</p>



	  </div>
	  <div class="column-quarter">
 
	   	<ul class="actions">
	   		<li class="action"><a href="">Print this {{ service.type }}</a></li>
	   	</ul>

	   	<div class="meta-data">
	   		{{# service.meta }}
	   		<p class="last-edited font-xsmall">{{ name }}<br>
	   			<span class="bold-xsmall">{{ value }}</span>
	   		</p>
	   		{{/ service.meta }}
	   	</div>
	 

	  </div>
	</div>

</main>

{{/content}}

{{/layout}}

