{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


<h1 class="heading-large">Transaction prototypes</h1>



<h2 class="heading-medium">Check your answers pages</h2>

<ol class="list-number">
	{{#services}}
	<li><a href="/service/{{ url }}/check">{{ name }}</a></li>
	{{/services}}
</ol>


<h2 class="heading-medium">Section pages</h2>

<ol class="list-number">
	{{#services}}
	<li><a href="/service/{{ url }}/sections">{{ name }}</a></li>
	{{/services}}
</ol>


</main>

{{/content}}

{{/layout}}
